If:
  PathMatch: native/.*
CompileFlags:
  Compiler: /usr/bin/clang++-22
  Add: [-I/usr/lib/llvm-22/include, -std=c++17]
---
If:
  PathMatch: tests/.*\.c
CompileFlags:
  Compiler: /usr/bin/clang-22
  Remove: [-std=*, -xc++]
  Add: [-xc, -std=gnu17]
---
If:
  PathMatch: tests/dependencies/.*
CompileFlags:
  Add: [-Iartifacts/deps/include, -Iartifacts/deps/include/libxml2]
---
If:
  PathMatch: tests/ffmpeg/.*
CompileFlags:
  Add: [-Iartifacts/ffmpeg-browser, -Iartifacts/ffmpeg-browser/src]
---
If:
  PathMatch: tests/wasm/simd128\.c
CompileFlags:
  Add: [--target=wasm32, -msimd128]
---
If:
  PathMatch: sysroot/dotnet64-v1/simd128/include/.*
CompileFlags:
  Compiler: /usr/bin/clang-22
  Add: [-D__LLVMNET_SIMD128__=1]
---
If:
  PathMatch: tests/ffmpeg/simd128\.c
CompileFlags:
  Compiler: /usr/bin/clang-22
  Add: [-I../../artifacts/ffmpeg-browser-system-simd128, -I../../artifacts/ffmpeg-browser-system-simd128/src]